<html lang="en">
<head>
    <title>Articles</title>
</head>
<body>
<a href="/blog/feed">Home</a>
{{if ne $.user ""}}
Welcome "{{$.user}}"!
<a href="/logout">Logout</a>
<h1>New post?</h1>
<form method="post" action="/blog/post">
    {{.CSRFToken}}
    <label>
        <input type="text" name="title" placeholder="Title">
    </label><br>
    <label>
        <textarea name="content" rows="4" cols="50" placeholder="Write your article here..."></textarea>
    </label><br>
    <button type="submit">Submit</button>
</form>
{{end}}
{{if eq $.user ""}}
<p>Please log in to create a new post.</p>
<a href="/auth/openid-connect">Login with OpenId</a><br>
<a href="/auth/google">Login with Google</a>
{{end}}
<h1>Articles</h1>
<ul>
    {{range .feed}}
    <li>
        <h2>{{.Title}}</h2>
        <p>{{.Content}}</p>
        <small>Published on: {{.PublicationDate}} by {{.Owner}}</small>
        {{if eq $.user .Owner}}
        <form>Edit</form>
        <button>Delete</button>
        {{end}}
    </li>
    {{end}}
</ul>
</body>
</html>